@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --prim-background : #fafbfe;
  --scnd-background : #e6e6e6;
  --prim-blue : #1494ff;
  --scnd-blue : #47abff;
  --dark-blue : #041635;
  --dark-blue2 : #2E313F;
  --black-text : #040920;
  --bold-grey-text : #555;
  --grey-text : #808080;
  --grey : #ccc;
  --light-grey : #f5f3f3aa;
  --light-black-text : rgba(4, 9, 32, 0.8);
  --light-blue : rgba(20, 149, 255, 0.2);
}

